In [82]:
print('I like Pandas')

I like Pandas

In [7]:
# ModuleNotFoundError: No module named 'numpy'
!pip install numpy

# ModuleNotFoundError: No module named 'pandas'
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [6]:
lst = [10,20,30]
print(lst, type(lst))

import numpy as np

arr = np.array(lst)
print(arr, type(arr))

import pandas as pd

[10, 20, 30] <class 'list'>
[10 20 30] <class 'numpy.ndarray'>

In [8]:
lst = [10,20,30]
print(lst, type(lst))

arr = np.array(lst)
print(arr, type(arr))

# Series
srs = pd.Series(data=lst)
print(srs)
print(type(srs))

[10, 20, 30] <class 'list'>
[10 20 30] <class 'numpy.ndarray'>
0    10
1    20
2    30
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
lst = [10,20,30.0]
print(lst, type(lst))

arr = np.array(lst)
print(arr, type(arr))

# Series
srs = pd.Series(data=lst)
print(srs)
print(type(srs))

[10, 20, 30.0] <class 'list'>
[10. 20. 30.] <class 'numpy.ndarray'>
0    10.0
1    20.0
2    30.0
dtype: float64
<class 'pandas.core.series.Series'>

In [10]:
lst = [10,'20',30.0]
print(lst, type(lst))

arr = np.array(lst)
print(arr, type(arr))

# Series
srs = pd.Series(data=lst)
print(srs)
print(type(srs))

[10, '20', 30.0] <class 'list'>
['10' '20' '30.0'] <class 'numpy.ndarray'>
0      10
1      20
2    30.0
dtype: object
<class 'pandas.core.series.Series'>

In [11]:
'a b c'.split()

['a', 'b', 'c']

In [15]:
lst = [10,20,30]
print(lst, type(lst))

arr = np.array(lst)
print(arr, type(arr))

# Series
srs = pd.Series(data=lst, index=['a', 'b', 'c'])
print(srs)
print(type(srs))
print(srs.index)

[10, 20, 30] <class 'list'>
[10 20 30] <class 'numpy.ndarray'>
a    10
b    20
c    30
dtype: int64
<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c'], dtype='object')

In [17]:
dct = {'a':10, 'b':20,'c':30}
srs = pd.Series(data=dct)
print(srs)
print(type(srs))
print(srs.index)
print(srs.dtype)

a    10
b    20
c    30
dtype: int64
<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c'], dtype='object')
int64

In [22]:
srs = pd.Series(data=[10,20,30], index=['a', 'b', 'c'])
print(srs)
print(srs.index)
# getting values
print(srs['b'])
print(srs.iloc[1])
print(srs.iloc[-2])

a    10
b    20
c    30
dtype: int64
Index(['a', 'b', 'c'], dtype='object')
20
20
20

In [28]:
srs = pd.Series(data=[10,20,30], index=[1,2,3])
print(srs)
print(srs.index)
# getting values
print(srs[1])
print(srs.iloc[-2])
print(srs.values)

1    10
2    20
3    30
dtype: int64
Int64Index([1, 2, 3], dtype='int64')
10
20
[10 20 30]

In [31]:
# maths
srs = pd.Series(data=[10,20,30], index=['a', 'b', 'c'])
print(srs)

print('>> +')
print(srs+srs)
print(srs+2)
print('>> -')
print(srs-srs)
print(srs-2)
print('>> *')
print(srs*srs)
print(srs*2)
print('>> /')
print(srs/srs)
print(srs/2)

a    10
b    20
c    30
dtype: int64
>> +
a    20
b    40
c    60
dtype: int64
a    12
b    22
c    32
dtype: int64
>> -
a    0
b    0
c    0
dtype: int64
a     8
b    18
c    28
dtype: int64
>> *
a    100
b    400
c    900
dtype: int64
a    20
b    40
c    60
dtype: int64
>> /
a    1.0
b    1.0
c    1.0
dtype: float64
a     5.0
b    10.0
c    15.0
dtype: float64

In [34]:
# maths
srs1 = pd.Series(data=[10,20,30], index=['a', 'b', 'c'])
print(srs1)
srs2 = pd.Series(data=[10,20,30], index=['b', 'c', 'd'])
print(srs2)

print('>> +')
print(srs1+srs2)
print('>> /')
print(srs1/srs2)
print('>> *')
print(srs1*srs2)
print('>> -')
print(srs1-srs2)

a    10
b    20
c    30
dtype: int64
b    10
c    20
d    30
dtype: int64
>> +
a     NaN
b    30.0
c    50.0
d     NaN
dtype: float64
>> /
a    NaN
b    2.0
c    1.5
d    NaN
dtype: float64
>> *
a      NaN
b    200.0
c    600.0
d      NaN
dtype: float64
>> -
a     NaN
b    10.0
c    10.0
d     NaN
dtype: float64

In [37]:
arr = np.random.rand(5,4)
print(arr)

[[0.82799292 0.62220468 0.86663687 0.08024382]
 [0.64801804 0.6046969  0.53043442 0.20232648]
 [0.90008299 0.55069699 0.99523247 0.71943081]
 [0.3921118  0.44338488 0.92948149 0.50730004]
 [0.8798632  0.84740744 0.04447053 0.20865544]]

In [47]:
# DataFrame
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
print(type(df))
print(df.index)
print(df.columns)
print(df.dtypes)
df

<class 'pandas.core.frame.DataFrame'>
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Index(['C1', 'C2', 'C3', 'C4'], dtype='object')
C1    float64
C2    float64
C3    float64
C4    float64
dtype: object

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [43]:
# DataFrame
df = pd.DataFrame(data = arr, index='a b c d e'.split())
print(type(df))
print(df.index)
df

<class 'pandas.core.frame.DataFrame'>
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

          0         1         2         3
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [40]:
# DataFrame
df = pd.DataFrame(data = arr)
print(type(df))
# print(df)
df

<class 'pandas.core.frame.DataFrame'>
          0         1         2         3
0  0.827993  0.622205  0.866637  0.080244
1  0.648018  0.604697  0.530434  0.202326
2  0.900083  0.550697  0.995232  0.719431
3  0.392112  0.443385  0.929481  0.507300
4  0.879863  0.847407  0.044471  0.208655

          0         1         2         3
0  0.827993  0.622205  0.866637  0.080244
1  0.648018  0.604697  0.530434  0.202326
2  0.900083  0.550697  0.995232  0.719431
3  0.392112  0.443385  0.929481  0.507300
4  0.879863  0.847407  0.044471  0.208655

In [51]:
# DataFrame
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
# col
col = df['C3']
print(col)
print(type(col))
col = df.C3
print(col)
print(type(col))
df

a    0.866637
b    0.530434
c    0.995232
d    0.929481
e    0.044471
Name: C3, dtype: float64
<class 'pandas.core.series.Series'>
a    0.866637
b    0.530434
c    0.995232
d    0.929481
e    0.044471
Name: C3, dtype: float64
<class 'pandas.core.series.Series'>

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [53]:
# DataFrame
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
df[['C3','C1']]

         C3        C1
a  0.866637  0.827993
b  0.530434  0.648018
c  0.995232  0.900083
d  0.929481  0.392112
e  0.044471  0.879863

In [58]:
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
print(df.C3-df.C1)
df["new col"] = df.C3-df.C1
df

a    0.038644
b   -0.117584
c    0.095149
d    0.537370
e   -0.835393
dtype: float64

         C1        C2        C3        C4   new col
a  0.827993  0.622205  0.866637  0.080244  0.038644
b  0.648018  0.604697  0.530434  0.202326 -0.117584
c  0.900083  0.550697  0.995232  0.719431  0.095149
d  0.392112  0.443385  0.929481  0.507300  0.537370
e  0.879863  0.847407  0.044471  0.208655 -0.835393

In [62]:
ddf = df.drop('new col', axis=1)
ddf

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [63]:
df.drop('new col', axis=1, inplace =True)
df

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [64]:
df.drop('b', axis=0, inplace =True)
df

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [65]:
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
df

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [76]:
# single value eg 0.530434
## col > row
print(df['C3']['b'])
print(df.C3['b'])
print(df['C3'].iloc[1])
print(df.C3.iloc[1])
## row > col
print(df.loc['b']['C3'])
print(df.iloc[1]['C3'])
print(df.loc['b'].iloc[2])
print(df.iloc[1].iloc[2])
print(df.loc['b','C3'])
print(df.iloc[1,2])

0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594
0.530434416762594

In [70]:
# row
print(df.loc['b'])
print(df.iloc[1])

C1    0.648018
C2    0.604697
C3    0.530434
C4    0.202326
Name: b, dtype: float64
C1    0.648018
C2    0.604697
C3    0.530434
C4    0.202326
Name: b, dtype: float64

In [67]:
# col
print(df['C3'])
print(df.C3)

a    0.866637
b    0.530434
c    0.995232
d    0.929481
e    0.044471
Name: C3, dtype: float64
a    0.866637
b    0.530434
c    0.995232
d    0.929481
e    0.044471
Name: C3, dtype: float64

In [77]:
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
df

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [78]:
df.set_index('C3')

                C1        C2        C4
C3
0.866637  0.827993  0.622205  0.080244
0.530434  0.648018  0.604697  0.202326
0.995232  0.900083  0.550697  0.719431
0.929481  0.392112  0.443385  0.507300
0.044471  0.879863  0.847407  0.208655

In [79]:
df = pd.DataFrame(data = arr, index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
df

         C1        C2        C3        C4
a  0.827993  0.622205  0.866637  0.080244
b  0.648018  0.604697  0.530434  0.202326
c  0.900083  0.550697  0.995232  0.719431
d  0.392112  0.443385  0.929481  0.507300
e  0.879863  0.847407  0.044471  0.208655

In [81]:
df.reset_index(drop=True)

         C1        C2        C3        C4
0  0.827993  0.622205  0.866637  0.080244
1  0.648018  0.604697  0.530434  0.202326
2  0.900083  0.550697  0.995232  0.719431
3  0.392112  0.443385  0.929481  0.507300
4  0.879863  0.847407  0.044471  0.208655

In [85]:
arr = np.array([1,3,5])
print(arr)
print(arr>4)
print(arr[arr>4])

[1 3 5]
[False False  True]
[5]

In [89]:
df = pd.DataFrame(data = np.random.rand(5,4), index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
df

         C1        C2        C3        C4
a  0.242239  0.675643  0.559959  0.050062
b  0.632920  0.544965  0.071555  0.102802
c  0.573501  0.080664  0.698448  0.766437
d  0.231983  0.328327  0.984654  0.716508
e  0.418460  0.210355  0.577606  0.386843

In [93]:
df[df.C4>0.5]

         C1        C2        C3        C4
c  0.573501  0.080664  0.698448  0.766437
d  0.231983  0.328327  0.984654  0.716508

In [91]:
df[df>0.5]

         C1        C2        C3        C4
a       NaN  0.675643  0.559959       NaN
b  0.632920  0.544965       NaN       NaN
c  0.573501       NaN  0.698448  0.766437
d       NaN       NaN  0.984654  0.716508
e       NaN       NaN  0.577606       NaN

In [90]:
# conditionals
df>0.5

      C1     C2     C3     C4
a  False   True   True  False
b   True   True  False  False
c   True  False   True   True
d  False  False   True   True
e  False  False   True  False

In [100]:
df = pd.DataFrame(data = np.random.rand(5,4), index='a b c d e'.split(), columns='C1 C2 C3 C4'.split())
new_df = df[df>0.5]
new_df

         C1        C2        C3        C4
a       NaN       NaN       NaN       NaN
b  0.567746  0.986964  0.759458  0.732848
c       NaN  0.544485  0.912091       NaN
d  0.655155  0.511016       NaN       NaN
e       NaN  0.945690       NaN       NaN

In [106]:
(0.912091+0.759458)/2

0.8357745

In [105]:
new_df['C3']=new_df.C3.fillna(value = new_df.C3.mean())
new_df

         C1        C2        C3        C4
a       NaN       NaN  0.835774       NaN
b  0.567746  0.986964  0.759458  0.732848
c       NaN  0.544485  0.912091       NaN
d  0.655155  0.511016  0.835774       NaN
e       NaN  0.945690  0.835774       NaN

In [103]:
new_df.fillna(value = 0)

         C1        C2        C3        C4
a  0.000000  0.000000  0.000000  0.000000
b  0.567746  0.986964  0.759458  0.732848
c  0.000000  0.544485  0.912091  0.000000
d  0.655155  0.511016  0.000000  0.000000
e  0.000000  0.945690  0.000000  0.000000

In [102]:
new_df.dropna(thresh=2)# at least thresh number of non NAN values should be present

         C1        C2        C3        C4
b  0.567746  0.986964  0.759458  0.732848
c       NaN  0.544485  0.912091       NaN
d  0.655155  0.511016       NaN       NaN

In [101]:
new_df.dropna()

         C1        C2        C3        C4
b  0.567746  0.986964  0.759458  0.732848

In [107]:
data = {
    'Country':['in','in','cn','us','cn'],
    'Flag':['A','B','A','B','A'],
    'Score':[1,2,3,2,1]
}
df = pd.DataFrame(data)
df

  Country Flag  Score
0      in    A      1
1      in    B      2
2      cn    A      3
3      us    B      2
4      cn    A      1

In [116]:
# drop duplicates
df.drop_duplicates(['Country', 'Flag'], )

  Country Flag  Score
0      in    A      1
1      in    B      2
2      cn    A      3
3      us    B      2

In [114]:
# sort the values
df.sort_values(['Score', 'Country'], ascending=[False, True])

  Country Flag  Score
2      cn    A      3
1      in    B      2
3      us    B      2
4      cn    A      1
0      in    A      1

In [110]:
# value count
print(df.Country.value_counts())

in    2
cn    2
us    1
Name: Country, dtype: int64

In [109]:
# nunique
print(df.Country.nunique())

3

In [108]:
# unique
print(df.Country.unique())

['in' 'cn' 'us']

In [120]:
data = {
    'Country':['in','in','cn','us','cn'],
    'Flag':['A','B','A','B','A'],
    'Score':[1,2,3,2,1]
}
df = pd.DataFrame(data)
df

  Country Flag  Score
0      in    A      1
1      in    B      2
2      cn    A      3
3      us    B      2
4      cn    A      1

In [121]:
def my_sq_func(x):
    return x*x
df['Squared_Score']=df.Score.apply(my_sq_func)
df

  Country Flag  Score  Squared_Score
0      in    A      1              1
1      in    B      2              4
2      cn    A      3              9
3      us    B      2              4
4      cn    A      1              1

In [124]:
def my_sum_func(a,b):
    return a+b
df['Squared_Sum_Score']=df.apply(lambda df:my_sum_func(a=df.Score,b=df.Squared_Score), axis=1)
df

  Country Flag  Score  Squared_Score  Squared_Sum_Score
0      in    A      1              1                  2
1      in    B      2              4                  6
2      cn    A      3              9                 12
3      us    B      2              4                  6
4      cn    A      1              1                  2

In [126]:
df.groupby('Country').sum()

         Score  Squared_Score  Squared_Sum_Score
Country
cn           4             10                 14
in           3              5                  8
us           2              4                  6

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            5 non-null      object
 1   Flag               5 non-null      object
 2   Score              5 non-null      int64
 3   Squared_Score      5 non-null      int64
 4   Squared_Sum_Score  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [128]:
df.groupby('Country').count()

         Flag  Score  Squared_Score  Squared_Sum_Score
Country
cn          2      2              2                  2
in          2      2              2                  2
us          1      1              1                  1

In [129]:
df.describe()

         Score  Squared_Score  Squared_Sum_Score
count  5.00000       5.000000            5.00000
mean   1.80000       3.800000            5.60000
std    0.83666       3.271085            4.09878
min    1.00000       1.000000            2.00000
25%    1.00000       1.000000            2.00000
50%    2.00000       4.000000            6.00000
75%    2.00000       4.000000            6.00000
max    3.00000       9.000000           12.00000

In [ ]:
# SBI
# adhaar, name, bal

# govt 
# adhaar, name, criminal

# >>>
# adhaar, name, bal, criminal

In [130]:
sbi_df = pd.DataFrame({
'aadhaarNo':["000003", "000005", "000001", "000006", "000002"],
'Name':     ["Tony",   "Thor",   "Natasha", "Fury", "Groot"],
'Balance':  [999999,    100,      200,        300,     0]
})
govt_df = pd.DataFrame({
'identificationNo':["000001", "000002", "000003", "000004", "000005", "000006"],
'Name':            ["Natasha", "Groot",  "Tony",   "Tony",   "Thor",   "Fury"],
'criminal':        [True,       True,      True,    False,   False,    False]
})

In [131]:
sbi_df

  aadhaarNo     Name  Balance
0    000003     Tony   999999
1    000005     Thor      100
2    000001  Natasha      200
3    000006     Fury      300
4    000002    Groot        0

In [132]:
govt_df

  identificationNo     Name  criminal
0           000001  Natasha      True
1           000002    Groot      True
2           000003     Tony      True
3           000004     Tony     False
4           000005     Thor     False
5           000006     Fury     False

In [137]:
pd.merge(left = sbi_df, right = govt_df, how='inner', left_on = ['aadhaarNo', 'Name'], right_on = ['identificationNo', 'Name'])

  aadhaarNo     Name  Balance identificationNo  criminal
0    000003     Tony   999999           000003      True
1    000005     Thor      100           000005     False
2    000001  Natasha      200           000001      True
3    000006     Fury      300           000006     False
4    000002    Groot        0           000002      True

In [135]:
pd.merge(left = sbi_df, right = govt_df, how='inner', left_on = 'aadhaarNo', right_on = 'identificationNo', suffixes = ("_sbi", "_govt"))

  aadhaarNo Name_sbi  Balance identificationNo Name_govt  criminal
0    000003     Tony   999999           000003      Tony      True
1    000005     Thor      100           000005      Thor     False
2    000001  Natasha      200           000001   Natasha      True
3    000006     Fury      300           000006      Fury     False
4    000002    Groot        0           000002     Groot      True

In [133]:
pd.merge(left = sbi_df, right = govt_df, how='inner', on='Name')

  aadhaarNo     Name  Balance identificationNo  criminal
0    000003     Tony   999999           000003      True
1    000003     Tony   999999           000004     False
2    000005     Thor      100           000005     False
3    000001  Natasha      200           000001      True
4    000006     Fury      300           000006     False
5    000002    Groot        0           000002      True